<!-- place_order.html -->
<h1>Сделать заказ</h1>
<form method="POST">
    <label>Выберите товар:</label>
    <select name="product_id">
        {% for product in products %}
        <option value="{{ product.id }}">{{ product.name }} (В наличии: {{ product.stock }})</option>
        {% endfor %}
    </select>
    <br>
    <label>Количество:</label>
    <input type="number" name="quantity" required>
    <br>
    <label>Адрес доставки:</label>
    <input type="text" name="delivery_address" required>
    <br>
    <button type="submit">Заказать</button>
</form>